.faq-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    /* */
    text-align: center;
}

.faq-list {   
    max-width: 80%;
    list-style: none;
    padding: 0;
    margin-left: 170px;
    text-align: left;
}

.faq-container h2{
    font-weight: 500;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
    font-weight: 550;
}

.faq-answer {
    padding: 10px 15px;

}

.faq-toggle {
    font-size: 20px;
    color: green;
}

@media (max-width: 480px) {
    .faq-container {
        padding: 10px;
        margin-left: 19px;
    }

    .faq-question {
        font-size: 14px;
        padding: 10px;
    }

    .faq-list{
        margin-left: 15px;
        max-width: 90%;
        text-align: left;
    }

    .faq-answer {
        font-size: 14px;
        padding: 10px;
    }
}