.wcu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.wcu-content{
    max-width: 30%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: left;
}

.wcu-content h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
}

.achievements-display{
    display: flex;
    flex-wrap:wrap;
    gap: 14px;
   
}

.wcu-image{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wcu-i{
    width: 400px;
    height: auto;
}

@media (max-width: 480px) {
    .wcu {
        flex-direction: column-reverse;

    }

    .wcu-i{
        width: 350px;
        height: auto;
    }
    .wcu-content{
        max-width: 100%;
        text-align: center;
    }

    .wcu-image{
        width: 100%;
        height: auto;
    }

    .achievements-display{
        max-width: 100%;
    }

    .wcu-para{
        font-size: 12px;
        max-width: 98%;
    }
}